.add-block {
  display: flex;
  margin-top: 70px;
  flex-direction: column;
  align-items: center;
  border-width: thin;
  border-style: dotted;
  border-color: black;
  background-color: #bdc3c7;
  width: auto;
  padding: 20px;
  margin-bottom: 20px;
}
