.blockchain-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 20px;
  border-width: thin;
  border-style: solid;
  border-color: black;
  background-color: #ecf0f1;
  margin-bottom: 20px;
  padding: 10px;
  margin-right: 20px;
}
